<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <title>My Music Player</title>
    <link rel="stylesheet" href="style.css">
    <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="voting.js"></script>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- http://pskb-prod.herokuapp.com/nosql-databases/a-practical-introduction-to-rethinkdb -->
    </head>
    <body>
        <h1>My Music Player</h1>
   
        <ul class='tracks'>
            <li class="track">
            <span class="title">Index</span>
            <div class='vote'>
            </div>

            <span class="title">Track Title</span>
            <span class="trkPosition">Track Position</span>
            <span class="duration">Track Duration</span>
            </li>

            <% tracks.forEach(function(track, index){ %>
            <li class='track' id='<%= track.id %>'>
                <span class='position'><%= index %></span>
                <div class='vote'>
                    <div class='btnVote'>
                        <span class='btnLike'><i class='fa fa-thumbs-up fa-2x'></i></span>
                        <span class='numVotes likes'><%= track.likes %></span>
                    </div>
                    <div class='btnVote'>
                        <span class='btnUnlike'><i class='fa fa-thumbs-down fa-2x'></i></span>
                        <span class='numVotes unlikes'><%= track.unlikes %></span>
                    </div>
                </div>
                <span class='title'><%= track.title %></span>
                <span class='trkPosition'><%= track.position %></span>
                <span class='duration'><%= track.duration %></span>
            </li>
            <% }) %>
        </ul>
     
    </body>
</html>