body{
    font-family:arial,sans-serif;
  }
  
  ul.tracks {
    margin: 1em;
    padding: 0;
    list-style-type: none;
  }
  
  li.track {
    min-height: 90px;
  }
  
  li.track:nth-child(odd) {
    background-color:#eaecee;
  }
  
  .position {
    width: 80px;
      height: 90px;
      font-size: 35px;
      font-weight: 700;
    text-align: center;
      float: left;
      line-height: 90px;
  }
  
  .vote {
      width: 150px;
      height: 90px;
      margin-right: 12px;
      float: left;
      position: relative;
  }
  
  .btnVote {
      width: 38px;
      height: 36px;
      margin: 22px 6px 0;
      border: 1px solid #666;
      background: #fff;
    cursor: pointer;
    text-align: center;
    display: block;
      float: left;
  }
  
  .numVotes {
    width: 100%;
    margin: 10px 0 0;
    font-size: 10px;
    color: #646464;
    float: left;
  }
  
  .title {
      font-size: 25px;
      font-weight: 400;
      line-height: 90px;
      float: left;
      padding-right: 1em;
   
  }
  .duration {
    font-size: 25px;
    font-weight: 400;
    line-height: 90px;
    float: left;
    padding-right: 1em;
}
.trkPosition {
  font-size: 25px;
  font-weight: 400;
  line-height: 90px;
  float: left;
  padding-right: 1em;

}